body {
    min-width: 100%;
    overflow-x: hidden;
}
h5, h6 {
    color:white;
}
.row {
    margin-left: unset;
    margin-right: unset;
}
.mobilesales {
    flex-direction: column !important;
}
.first-container {
    background-size:cover;
    background-image: url('../images/homebackground.jpg');
    background-repeat: no-repeat;
    background-position-x: 20%;
    padding-bottom: 5%;
    height: 90vh;
}
.bottom {
    flex-direction: column-reverse;
}
.security {
    width: 100%;
}
.second-container {
    max-width: 100%;
}
.third-container {
    background: rgb(0,0,0);
    width: 100%;
}
.security-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1% 3% !important;
    padding-left: 3% !important;
    padding-right: 3% !important;
}
.security-title {
    font-weight:500;
}
.security-title-left {
    font-weight:500;
}
.security-icon-left {
    margin-top: 10%;
    width: -webkit-fill-available;
}
.security-icon-right {
    margin-top: 10%;
    width: -webkit-fill-available;
}
.security-paragraph-right {
    font-size: 25px;
}
.security-paragraph-left {
    font-size: 25px;
}

.sales {
    display: flex;
    flex-direction: row;
    margin-right: 0% !important;
    margin-left: 0% !important;
    width: 100%;
}
.sales-col {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.sales-col:hover img {
    position: relative;
    filter:blur(2px) brightness(60%);
}
.sales-col:hover :not(img) {
    opacity: 1;
    transition:.3s;
}
.signin-btn {
    background-color: transparent !important;
    border-color: white !important;
    border-width: 2px;
    width: 100px;
    margin: auto !important;

}
.sales-img-1 {
    object-fit: cover;
    width: 100%;
    height: 45vh;
    transition : -webkit-filter 200ms linear;
    -webkit-transition : -webkit-filter 200ms linear;
}
.sales-paragraph {
    position: absolute;
    z-index: 1;
    opacity: 0;
    bottom: 4vw;
    color: white;
    font-size: 1.2rem;
}
.sales-info {
    position: absolute;
    display:flex;
    flex-direction: column;
    height:1rem;
}
.top-left {
    left: 65%;
    top: 70%;
}
.top-right {
    left: 15%;
    top: 70%;
}
.bottom-left {
    left: 15%;
    top: 70%;
}
.bottom-right {
    left: 15%;
    top: 70%;
}
.sales-col {width: inherit !important;}

.subscribe-ttl {
    text-align: center;
    margin: 5rem 0rem 0.7rem;
    font-weight: bolder;
}
.HomePage-Container
{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 35% 0% 15% 0%;
    position: absolute;
    top: 0px;
    z-index: 0;
}
.homepage-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.main-title {
    margin-left: 2%;
    flex: 1 1;
    display: flex;
    flex-direction: column;
}
.sales-row {
    width: 100%;
}
.main-title-h1 {
    color: white;
    font-weight: bold;
    font-size: 50px;
    animation: 1.5s ease-out 0s 1 slideOnStartLeft;
    flex: 1;
}

.main-title-h2{
    color: white;
    animation: 1.5s ease-out 0s 1 slideOnStartLeft;
    font-size: 30px;
    flex: 1;
}

.main-title-quantity-column {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.main-title-quantity-row {
    flex: 1;
}

.main-title-quantity {
    text-align: center;
    color: white;
}

.home-shopnow-btn {
    float: right;
    margin-right: 0% !important;
    margin-top: 5%;
    animation: 1.5s ease-out 0s 1 slideOnStartLeft;
    flex: 1 1;

}
.home-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, rgba(132,0,255,1) 0%, rgba(38,0,255,1) 100%);
    width: 220px !important;
    height: 50px !important;
    border-radius: 30px !important;
    border-width: 0px !important;
    float: right;
}
.navbar-btn { 
    color: white;
    margin: 20px;
    font-weight: 400;
    font-size: 16px;
}
.navbar-btn:hover { 
    color: #71e6ff; 
    text-decoration: none;
}
.topmenu {
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.abdev-link {
    display: flex;
    flex-direction: row;
}
.abdev-logo {
    width: 20%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}
.signup-btn {
    background-color: rgba(255,255,255,1) !important;
    border-color: transparent !important;
    border-width: 2px;
    color: black !important;
    font-weight: bold;
    width: 100px;
}
.home-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, rgba(132,0,255,1) 0%, rgba(38,0,255,1) 100%);
    width: 220px !important;
    height: 50px !important;
    border-radius: 30px !important;
    border-width: 0px !important;
}

.home-shopnow-btn {
    float: right;
    margin-top: 5%;
    animation: 1.5s ease-out 0s 1 slideOnStartLeft;

}

.sales-paragraph {
    position: absolute;
    z-index: 1;
    opacity: 0;
    bottom: 4vw;
    color: white;
    font-size: 16px;
}
.sales-btn {

    z-index: 1;
    opacity: 0;
}
.sales-info {
    position: absolute;
    display:flex;
    flex-direction: column;
    height:1rem;
}
.contact-icon-footer {
    width: 40px;
    height: 40px;
    color: gray;
    margin: 2%;
    margin-top: 20%;

}
.contact-icon-col {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;

}
.footer-address {
    text-align: center;
    margin:auto;
    color: gray;
}
.footer-address-container {
    flex-direction: column;
}

.footer-row {
    background-image: url('../images/worldmap.png');
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
}
.blur-bg-footer {
    -webkit-backdrop-filter: hue-rotate(-100deg) blur(5px) sepia(0.5);
    backdrop-filter: hue-rotate(-100deg) blur(0px) sepia(0.5);
    background: linear-gradient(90deg, rgba(0,0,0,0.95) 0%, rgba(66,66,66,0.95) 100%);
    width: 100%;
    display: flex;
    flex-direction:column;
}
.webflow-style-input {
    margin: 1em auto !important;
}
.sitemap-row {
    border-bottom: 1px solid;
    border-color: rgba(255,255,255,0.4);
    margin: 1em;
}
@keyframes slideOnStartLeft {
    0% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(0);
    }
}