.nav-link 
{
    border-style: none;
    background-color: white;
}

.navbar-light 
{
	position: relative;

}
.logged-in-profile-navbar {
    align-items: center;
    justify-content: center;
    display: flex;
}
#dropdown-basic {
	background-color: rgba(255,255,255,1) !important;
	border-color: transparent !important;
	border-width: 2px;
	color: black !important;
	font-weight: bold;
	margin: 1%;
}
.blurer{
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    position: absolute;
    background-color: rgba(255,255,255,0.3);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
	border-radius: 0px 0px 30px 30px;
}
.login-btns {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/*	background: linear-gradient(270deg, rgba(40,40,40,0.5) 0%, rgba(97,97,97,0.5) 50%, rgba(40,40,40,0.5) 100%);
*/
.bg-custom {
	background: linear-gradient(270deg, rgba(40,40,40,1) 0%, rgba(97,97,97,1) 50%, rgba(40,40,40,1) 100%);
	backdrop-filter: blur(15px) opacity(0.2);

}
.navbar-parent
{
	position: relative;
	z-index: 1;
}

.navbar-brand
{
	display: flex;
	align-items: flex-start;
 	max-width: 30%;
	margin-left: 1%;
}

.logoc
{
	width: 100%;
}

.sign-home-btn {
	margin-right: 1%;
}