input {
    border-style: none;
    background: transparent !important;
    outline: none;
}
input:-internal-autofill-selected {
  border-style: none;
  outline: none;
  background-color: transparent;
  color: transparent;
  appearance: none !important;
}
input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
}
button {
    padding: 0;
    background: none;
    border: none;
    outline: none;
}
  

  @-webkit-keyframes gradient {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
  
  @keyframes gradient {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
  }

  .webflow-style-input {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 400px;
    margin: 1rem auto 15rem;
    padding: 0.6rem 1.1rem 0.6rem;
    overflow: hidden;
  }
  .webflow-style-input-transparent {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 400px;
    padding: 0.6rem 1.1rem 0.6rem;
    overflow: hidden;
    margin: 0.5rem 0rem;
  }
  .webflow-style-input-transparent-search {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin: 1.0rem 0rem;
    width: 60vw;
    max-width: 50%;
  }
  .inner-grad-1 {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: rgb(113,113,113);
    background: linear-gradient(to right,rgba(18,18,18,1), rgba(214,214,214,1),rgba(0,0,0,0.8),rgba(214,214,214,1), rgba(18,18,18,1), rgba(168,168,168,1));
    background-size: 500% auto;
    -webkit-animation: gradient 5s linear infinite;
            animation: gradient 5s linear infinite;
  }
  .inner-grad {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
    background-size: 500% auto;
    -webkit-animation: gradient 3s linear infinite;
            animation: gradient 3s linear infinite;
  }
  .up {
    bottom: 90%;
  }
  .webflow-style-input input {
    flex-grow: 1;
    color: #BFD2FF;
    font-size: 1.4rem;
    line-height: 2rem;
    vertical-align: middle;
    width: 100%;
  }
  .webflow-style-input input::-webkit-input-placeholder {
    color: #7881A1;
  }
  
  .webflow-style-input button {
    color: #7881A1;
    font-size: 1.5rem;
    line-height: 2.4rem;
    vertical-align: middle;
    transition: color 0.25s;
  }
  .webflow-style-input button:hover {
    color: #BFD2FF;
  }

    .webflow-style-input-transparent-search input {
    flex-grow: 1;
    color: #BFD2FF;
    font-size: 1.0rem;
    line-height: 2rem;
    vertical-align: middle;
    width: 50%;
  }
    .webflow-style-input-transparent-search input::-webkit-input-placeholder {
    color: #7881A1;
  }
  
    .webflow-style-input-transparent-search button {
    color: #7881A1;
    font-size: 1.5rem;
    line-height: 2.4rem;
    vertical-align: middle;
    transition: color 0.25s;
  }
    .webflow-style-input-transparent-search button:hover {
    color: #BFD2FF;
  }

  .webflow-style-input-transparent input {
    color: #7881A1;
    font-size: 0.95rem;
    line-height: 1.5rem;
    vertical-align: middle;
    width: 100%;
  }
  .webflow-style-input-transparent input::-webkit-input-placeholder {
    color: #7881A1;
  }
  
  .webflow-style-input-transparent button {
    color: #7881A1;
    font-size: 1.5rem;
    line-height: 2.4rem;
    vertical-align: middle;
    transition: color 0.25s;
  }
  .webflow-style-input-transparent button:hover {
    color: #BFD2FF;
  }